* {
  box-sizing: border-box
}

body {
  padding: 50px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:visited{
	color: black;
}
.frameStyle {
	display: inline-block;
	position: fixed;
	top: 150px;
	right: 100px;
}

.row {
  max-width: 1350px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

input {
  border-radius: 7px;
  border:1px solid lightgrey;
  line-height: 18px;
  margin-right: 7px;
  padding-left: 5px; 
}
/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-md-6 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}
h1 {
  background-color: black;
  color: white;
  text-align: center;
}
h2{
  color: red;
}
.author {
  color: grey;
}
.author, .created_time {
  display: inline;
}
.created_time {
  color: #5c79a8;
  margin-left: 100px;
}
.title {
  padding-bottom: 20px;
}
button {
  display: inline-block;
}
/* Mobile defaults */
.col-md-6 {
  width: 100%;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  
  /* 6 columns 6/12 in % */
  .col-md-6 {
    width: 50%;
  }
}